@charset "UTF-8";
/*CSS Doc*/

.hidden
{
	display: none;
}

body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding-left: 20px;
	padding-top: 20px;
}

.mainContainer
{
	background: #f2fce0; 
	width: 960px;
	height: auto;
	margin: 0 auto;
}

#mainNav
{
	height: 60px;
	background: rgb(99,171,226);
	font-family: Arial;
    background: -moz-linear-gradient(top, rgba(240,230,140,1) 0%, rgba(15,225,226,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(15,225,226,1)), color-stop(100%,rgba(15,135,226,1)));
    background: -webkit-linear-gradient(top, rgba(240,230,140,1) 0%,rgba(15,225,226,1) 100%);
    background: -o-linear-gradient(top, rgba(240,230,140,1) 0%,rgba(15,225,226,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,230,140,1) 0%,rgba(15,225,226,1) 100%);
    background: linear-gradient(to bottom, rgba(240,230,140,1) 0%,rgba(15,225,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63abe2', endColorstr='#E0EF00',GradientType=0 );
	display: flex;
}

#mainNav ul
{
	display: flex;
	flex-direction: row;
}

#iconicLogo
{
	position: relative;
	bottom: 35px;
}

#mainNav ul li a
{
	display: block;
	color: #1c563c;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 30px;
	margin-top: 10px;
	padding: 10px;
	transition: all .5s ease;
	border-radius: 10px;

}

#mainNav ul li a:hover
{
	background-color: #EBF0D4;
	color: #333;
	border-radius: 10px;
}

#featured
{
	margin-top: 10px;
	text-align: center;
	font-family: arial;
	font-size: 20px;
	color: #1c563c;
}

#description
{
	margin: 0 auto;
	width: 900px;
	font-family: arial;
	font-size: 18px;
	color: #1c563c;
}

#iconContainer
{
	width: 900px;
	height: auto;
	margin-left: 30px;
	background: #7bedd8;
}


.iconSet 
{
	margin-top: 10px;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: row;
	width: 200px;
	height: 200px;
}



